[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2-binary = "*"
python-dotenv = "*"
openai = "==0.28"
djangorestframework = "*"
boto3 = "*"
pyjwt = "*"
requests = "*"
cryptography = "*"
sentry-sdk = "*"

[dev-packages]
flake8 = "*"
black = "*"
pytest = "*"
pytest-django = "*"
isort = "*"
pre-commit = "*"
coverage = "*"
pytest-cov = "*"
flake8-pyproject = "*"
factory-boy = "*"

[requires]
python_version = "3.11"
